{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'auctions/auction-white-icon.png' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link href="{% static 'auctions/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <header class="jumbotron">
        <div class="header">
        <div id="brand">
        <div id="auction-icon"><a href="{% url 'index' %}"><img src="{% static 'auctions/auct-icon-100X100.png' %}"></a></div>
        <a href="{% url 'index' %}"><div id="auction-name"><label>Auctions</label></div></a>
        </div>
        <div class="search-form">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" id="search-text" name="query" placeholder="search auctions...">
                <input type="submit" id="search" value="Search">
            </form>
        </div>
        <div class="nav-box">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link btn btn-sm btn-outline-primary" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-sm btn-outline-primary" href="{% url 'categories' %}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-sm btn-outline-primary" href="{% url 'createlist' %}">Create Listing</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link btn btn-sm btn-outline-primary" href="{% url 'watchlist' user.username %}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-sm btn-outline-primary" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-sm btn-outline-primary" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        </div>
        <div class="log-indicator">
            {% if user.is_authenticated %}
                Signed in as <strong> {{ user.username }}. </strong>
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <div class="toggle-button">
            <div class="toggle-wrap">
                <span class="toggle-bar"></span>
                <span class="toggle-bar"></span>
                <span class="toggle-bar"></span>
            </div>
        </div>
        </div>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>
